/* -------- HTML -------- */
*{ 
    background-color: black;
   
}

/* -------- Header ----- */

h1 {
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
}

h2 {
    text-align: center;
    color: white;
    
}

h3 {
    text-align: center;
    color: white;
    
}
.outcome {
    text-align: center;
    color: white;
    
}


/* ------ Body ------ */

.cell {
    justify-content: center;
    align-items: center ;
    display:flex;
    flex-basis: 120px;
    border: solid white;
    

}

.board {
    box-sizing: border-box;
    display:flex;
    width: 380px; 
    height: 360px;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
     
}

.cell:nth-child(3n){
    border-left: 3px solid black;
    border-right: 3px solid black;
}

.cell:nth-child(n+7){
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.cell:nth-child(1){
    border-right:3px solid black;
    border-left: 3px solid black;
}
.cell:nth-child(4){
    border-right:3px solid black;
    border-left: 3px solid black;
}
.cell:nth-child(7){
    border-right:3px solid black;
    border-left: 3px solid black;
}
.cell:nth-child(1){
    border-top:3px solid black;
    border-bottom: 3px solid black;
}
.cell:nth-child(2){
    border-top:3px solid black;
    border-bottom: 3px solid black;
}
.cell:nth-child(3){
    border-top:3px solid black;
    border-bottom: 3px solid black;
}